@import "../../globalStyle.scss"; 

.container {
  background:$milk;
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  border: 1px solid $borderGray;
  box-shadow: 1px 1px 5px 0px #dddddd;

  & .header {
    text-align: center;
    margin: 20px 0px;
    padding: 10px 0px;
    color:$title1;
    font-size: $mediumBig;
    font-family: 'RobotoSlab Regular';

    @media(max-width: $tablet){
      font-size: $mediumSmall;
     }

    & .title {
      margin: 50px;

      @media(max-width: $tablet){
        margin: 5px;
       }
    }
  }

  .boxContainer {
    display: flex;
    justify-content: center;
    margin: 15px;

    @media(max-width: $smallScreen){
      flex-wrap:wrap;
     }
  }
  .stars {
    width: 50px;
  }
}