// colors

$title1:#0b4176;
$boxTitle:#1a61a7;
$boxText: #304566;

$grey:#888a8e;
$borderGray:#e6e8ed;
$milk:#f9f9f9; 
$lightmilk: #fafafa;
$blue:#54acef;
$lightBlue:#C9E3F9;

$red:#e82e34;
$green:#6dc138;


// breakpoints 
$mobile: 360px;
$tablet: 768px;

// fontSize