// colors

$title1:#0b4176;
$boxTitle:#105AA3;
$boxText: #001841;
$lightGrey:#9DA2A9;
$grey:#888a8e;
$borderGray:#e6e8ed;
$lightGrey:#DEE1E8;
$milk:#f9f9f9; 
$lightmilk: #fafafa;
$blue:#54acef;
$lightBlue:#C9E3F9;
$buttonBackground: #F9F9FB;
$buttonLabel: #616469;
$boxBorder:#326C96;
$accordionTitle:#63B2EF;


$red:#e82e34;
$green:#6DC138;


// breakpoints 
$smallMobile: 320px;
$mobile: 480px;
$tablet: 768px;
$smallScreen: 950px;

// fontSize
$smallest:10px;
$xxxSmall: 12px;
$xxSmall: 14px;
$xSmall: 15px;
$small:16px;
$mediumSmall: 18px;
$medium: 20px;
$mediumBig: 24px;
$big: 25px;
$xBig: 30px;
$xxBig: 38px;
