@import "../../globalStyle.scss"; 

.accordContainer {
 
  border: 1px solid $lightGrey;
  margin: 15px 0;

  .accordBox {
    display: flex;
  }

  .accordContent {
    width: 100%;
    margin: 10px 30px;

    .accordTitle {
      color:$title1;
      margin: 10px 0;
    }

    .textContent {
      height: 100%;
      max-height: calc(100% - 65px);
      padding: 0 0 10px 0;
      font-size: $xxSmall;
      line-height: 20px;

      .accordText {
        color: $buttonLabel;
        height: 100%;
        width: 80%;
      }
    }

    
    .rotate {
      transform: rotate(180deg);
    }
    .moreInfo {
      color: $blue;
    }
  }
  .infoContainter {
    color:$buttonLabel;
    font-size: $xxSmall;
    margin: 10px 30px;
  }
  .include {
    margin: 10px;
  }
  .infoContent {
    height: 200px;
    
    .list { 
      width: 30%;
      float: left;
      clear: inherit;
      margin: 0 10px;
      line-height: 21px;

      .dot {
        width: 5px;
        height: 5px;
        border-radius: 2.5px;
        background: $buttonLabel;
        margin: 5px;
      }
    }
    
  }
}